/********************** General elements **********************/
* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  text-align:center;
}

h2,section section section h1 {
  font-size: 20px;
  font-weight: bold;
}

header,section,footer,aside,nav,article,figure,figcaption,hgroup {
  display: block;
}

li {
  margin-left: 20px;
}

p {
  margin-bottom: 10px;
}

a {
  color: #000099;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  width: 100%;
  color: #000000;
  font-size: 15px;
  background-color: #ffffff;
}

section {
  padding-bottom: 20px;
}

h2 {
  padding-top: 20px;
}

#container {
  margin: 60px 30px;
}

.range_field {
  margin: 10px;
}

.range_field span {
  margin: 0px 5px;
}

.range_field input {
  display: inline;
  width: 60%;
}
.range_field output {
  display: inline;
}

.page_link {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}
.page_link:hover, .page_link:focus {
  cursor:pointer;
}

.help_hover:hover {
  cursor:help;
}

.tweet_text, .tweet_poster {
  font-weight: 300;
  letter-spacing: .01em;
  word-wrap: break-word;
  color: #14171a;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.tweet_poster {
  font-size: 18px;
}
.tweet_poster a {
  color: #666;
}

.tweet_text {
  font-size: 26px;
  line-height: 32px;

  padding: 10px;
  border: 1px solid black;
  display:block;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
}

.annotation_scale {
  display:inline-block;
}

.annotation_scale div {
  float:left;
  display:inline-block;
  text-align:center;
  max-width:85px;
  margin: 7px;
}

.annotation_table img {
  max-width: 200px;
  max-height: 200px;
}

.annotation_table td {
  border: 1px dashed black;
}

.annotation_table {
  text-align: center;
  margin: 20px 0px 25px 0px;
}

.annotation_table td, .annotation_table th {
  padding: 5px 10px;
}


.comparison_table {
  text-align: center;
  margin: auto;
}

.comparison_table .neither_button {
  height: 200px;
  width: 120px;
  text-transform: uppercase;
  font-weight: bold;
  border: 4px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.comparison_table .neither_button:hover {
  border: 5px solid #a00;
  background-color: #999;
}
.comparison_table .image_vote {
  border: 5px solid white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.comparison_table .image_vote:hover {
  border: 5px solid #a00;
}


/* Statusbox */
.messages {
    padding: 10px;
    margin: 15px;
    border: 1px solid #4eff00;
    background-color: #DCFFDC;
}

.warnings {
    padding: 10px;
    margin: 15px;
    border: 1px solid #ff7575;
    background-color: #ffd9d9;
}

.errors {
    padding: 10px;
    margin: 15px;
    border: 1px solid #000;
    background-color: #FF4500;
}

.messages, .warnings, .errors {
    max-width: 900px;
}


/* Fixing bug caused by bootstrap */
#bbox_annotator * {
  box-sizing: content-box;
}
.bbox_annotator * {
  box-sizing: content-box;
}


/* Modal Boxes (taken from https://www.w3schools.com/howto/howto_css_modals.asp) */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 70px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.closeModal {
    color: #777;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalLink:hover, .modalLink:focus {
  cursor: pointer;
}
